/*insert style here*/
#map {
    width: 50%;
    height: 100%;
}

#graph {
  width: 50%;
  height: 50%;
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: white;
  color: blue;
}

#background {
  width: 50%;
  height: 50%;
  position: fixed;
  top: 0;
  right: 0;
  background-image: url(../img/trees.jpg);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  filter:blur(2px);
  -webkit-filter: blur(2px);
  color:white;
  overflow-y: auto;
  opacity: .5;
}
#writeup {
  width: 50%;
  height: 50%;
  position: fixed;
  top: 0;
  right: 0;
  color:white;
  overflow-y: auto;
  font: Arial, Helvetica, sans-serif;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: rgb(0, 0, 0);
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.resetzoom{
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: rgb(0, 0, 0);
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.legend {
  line-height: 18px;
  color: #555;
}
.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

.leaflet-text {
	cursor: grab;
}

.leaflet-dragging .leaflet-grab{
	cursor: move;
}

.step {
  width: 40px;
}

.step img {
  width: 100%;
  height: auto;
}
.line {
  stroke: #a3b4a0;
  stroke-width: 1.5;
  stroke-opacity: .4;
}

.lineHover {
  stroke: green;
  stroke-width: 2;
  stroke-opacity: 1
}

p {
  margin-top: 10px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
}

h1 {
  margin-top: 30px;
  margin-right: 100px;
  margin-left: 80px;
}
