/*insert style here*/
#map {
    width: 50%;
    height: 100%;
}

#graph {
  width: 50%;
  height: 50%;
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: white;
  color: blue;
}


.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: rgb(0, 0, 0);
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}
